[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=cipher813
WorkingDirectory=/home/cipher813/sites/SITENAME/source
ExecStart=/home/cipher813/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
